.card-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

@media (max-width: 768px) {
  .mobile-only {
    display: block;
  }
  .desktop-only {
    display: none;
  }
}
@media (min-width: 769px) {
  .mobile-only {
    display: none;
  }
  .desktop-only {
    display: block;
  }
}